.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title {
    background-color: rgb(237, 231, 231);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.2);
    color: rgb(112, 117, 117);
}