.list-container {
    margin-top: 20px;
    width: 700px;       /* keep the fixed width */
    margin-left: auto;
    margin-right: auto;
}

.list-item {
    display: flex;
    flex-direction: column;  /* stack items vertically */
    gap: 10px;               /* space between each todo item */
}

.content {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(237, 231, 231);
    border-radius: 2px;   
    margin-bottom: 2px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: scale(1);
}

.content:hover {
    transform: scale(1.03); 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.btn-action {
    padding: 5px;
    border: none;
    background-color: rgb(237, 231, 231);
    cursor: pointer;
    margin-left: 5px;

}

.content-details {
    color: rgb(97, 100, 100);
}
